{
	"extends": [
		"stylelint-config-standard-scss",
		"stylelint-config-css-modules",
		"stylelint-config-prettier-scss"
	],
	"plugins": [
		"stylelint-order",
		"stylelint-config-rational-order/plugin"
	],
	"rules": {
		"declaration-empty-line-before": null,
		"order/properties-order": [
			[],
			{
				"severity": "warning"
			}
		],
		"plugin/rational-order": [
			true,
			{
				"border-in-box-model": true,
				"empty-line-between-groups": true,
				"severity": "warning"
			}
		],
		"property-no-unknown": [
			true,
			{
				"ignoreProperties": [
					"composes",
					"compose-with"
				]
			}
		],
		"value-keyword-case": null,
		"selector-class-pattern": null,
		"color-function-notation": null,
		"alpha-value-notation": null,
		"at-rule-no-unknown": null,
		"scss/function-no-unknown": null
	}
}